.head {
    min-height: 100dvh;
    background-color: #0f1320;
    color: white;
}

.social-links {
    width: 40px;
    height: 200px;
    background-color: var(--defaultwhite);
    top: 50%;
    transition: .5s;
    transform: translateY(-50%);
}